.anima::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.milidrop:hover .mindrop {
  display: block;
}
.anima:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.anima::after {
  transition: width 0.3s ease-in-out;
}

.anima:active::after {
  width: 0;
}

.un {
  background: linear-gradient(to right, #1068540c, #1068540c),
    linear-gradient(to right, #106853, #106853);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.un:hover {
  background-size: 0 0.1em, 100% 0.1em;
}
.gridd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
@media only screen and (min-width: 330px), (max-width: 1024px) {
}