.anima::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.milidrop:hover .mindrop {
  display: block;
}
.anima:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.anima::after {
  transition: width 0.3s ease-in-out;
}

.anima:active::after {
  width: 0;
}

.un {
  background: linear-gradient(to right, #1068540c, #1068540c),
    linear-gradient(to right, #106853, #106853);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.un:hover {
  background-size: 0 0.1em, 100% 0.1em;
}
.gridd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
}
@media only screen and (min-width: 330px), (max-width: 1024px) {
}

// Burger Menu scss

.burger-menu {
  width: 4em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color:white;
  border-radius: 0.5em;
}

.menu {
  width: 100%;
  height: 500px;
  background-color: #fc8410;
  position: absolute;
  top: 285px;
  z-index: 99999;
  display: flex;
  justify-content: center;
}

// sliding menu

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

//  animation

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}



@media only screen and  (max-width: 1023px) { 
  .search{
    display: none !important;
  }
}