.range-filter {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .range-inputs {
    position: relative;
    width: 100%;
    min-height: 20px;
    margin-bottom: 15px;

     input[type="range"] {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      outline: none;
      -webkit-appearance: none;

    }
  }
}
